# NASA NEO Data Processing Pipeline üöÄ

This notebook demonstrates the complete ETL process for NASA Near-Earth Objects data:

1. **Data Extraction** from NASA API
2. **Data Processing** with PySpark 
3. **Data Storage** to MySQL database
4. **Automated Scheduling** with Apache Airflow

## Features:
- ‚úÖ Robust error handling
- ‚úÖ Environment-based configuration 
- ‚úÖ Data quality validation
- ‚úÖ Production-ready code
- ‚úÖ Weekly automation via Airflow

In [ ]:
# Step 1: Environment Setup and Configuration üîß
import sys
import os
import logging
from datetime import datetime, timedelta

# Configure logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')
logger = logging.getLogger(__name__)

# PySpark imports
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import *

# Set Python executables explicitly to avoid worker communication issues
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

# Additional environment variables for stability
os.environ['PYTHONPATH'] = os.pathsep.join(sys.path)
os.environ['SPARK_LOCAL_IP'] = '127.0.0.1'

# Configuration settings
class Config:
    NASA_API_KEY = os.getenv('NASA_API_KEY', '3NcI1W7rKoehu3KEtqGFjh4nwV6nuO6v7a3WhYrC')
    MYSQL_HOST = os.getenv('MYSQL_HOST', 'localhost')
    MYSQL_PORT = int(os.getenv('MYSQL_PORT', '3306'))
    MYSQL_USER = os.getenv('MYSQL_USER', 'airflow')
    MYSQL_PASSWORD = os.getenv('MYSQL_PASSWORD', 'airflow')
    MYSQL_DATABASE = os.getenv('MYSQL_DATABASE', 'airflow')

logger.info("‚úÖ Environment variables configured successfully")
logger.info(f"PYSPARK_PYTHON: {os.environ['PYSPARK_PYTHON']}")
logger.info(f"PYSPARK_DRIVER_PYTHON: {os.environ['PYSPARK_DRIVER_PYTHON']}")
logger.info(f"SPARK_LOCAL_IP: {os.environ['SPARK_LOCAL_IP']}")

‚úÖ Environment variables configured:
PYSPARK_PYTHON: c:\Users\mouad\AppData\Local\Programs\Python\Python310\python.exe
PYSPARK_DRIVER_PYTHON: c:\Users\mouad\AppData\Local\Programs\Python\Python310\python.exe
SPARK_LOCAL_IP: 127.0.0.1

In [ ]:
# Step 2: Initialize Spark Session with Production Settings ‚ö°
def create_spark_session():
    """Create optimized Spark session for production use"""
    try:
        spark = SparkSession.builder \
            .appName("nasa_neo_etl_production") \
            .master("local[*]") \
            .config("spark.executor.memory", "4g") \
            .config("spark.driver.memory", "2g") \
            .config("spark.sql.adaptive.enabled", "true") \
            .config("spark.sql.adaptive.coalescePartitions.enabled", "true") \
            .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer") \
            .config("spark.sql.execution.arrow.pyspark.enabled", "false") \
            .config("spark.sql.adaptive.advisoryPartitionSizeInBytes", "128MB") \
            .getOrCreate()
        
        logger.info(f"üéâ SUCCESS! SparkSession created - Version: {spark.version}")
        logger.info(f"‚úÖ App name: {spark.sparkContext.appName}")
        logger.info(f"‚úÖ Master: {spark.sparkContext.master}")
        logger.info(f"‚úÖ Available cores: {spark.sparkContext.defaultParallelism}")
        
        return spark
    except Exception as e:
        logger.error(f"‚ùå Failed to create Spark session: {e}")
        raise

# Create the Spark session
spark = create_spark_session()

üéâ SUCCESS! SparkSession created without errors!
‚úÖ Spark version: 3.5.7
‚úÖ App name: worker_fix_test
‚úÖ Master: local[1]

In [ ]:
# Step 3: Enhanced NASA API Data Extraction üõ∞Ô∏è
import json
import requests
from datetime import datetime, timedelta

def fetch_nasa_neo_data(start_date=None, end_date=None, api_key=None):
    """
    Fetch NASA NEO data with error handling and validation
    
    Args:
        start_date (str): Start date in YYYY-MM-DD format
        end_date (str): End date in YYYY-MM-DD format  
        api_key (str): NASA API key
        
    Returns:
        list: Flattened list of NEO objects
    """
    try:
        # Default to last 7 days if dates not provided
        if not end_date:
            end_date = datetime.now().strftime('%Y-%m-%d')
        if not start_date:
            start_date = (datetime.now() - timedelta(days=7)).strftime('%Y-%m-%d')
        
        api_key = api_key or Config.NASA_API_KEY
        
        logger.info(f"üîç Fetching NASA NEO data from {start_date} to {end_date}")
        
        # Build API URL
        url = (f"https://api.nasa.gov/neo/rest/v1/feed"
               f"?start_date={start_date}&end_date={end_date}&api_key={api_key}")
        
        # Make API request with timeout and error handling
        response = requests.get(url, timeout=30)
        response.raise_for_status()
        
        data = response.json()
        
        # Validate API response
        if 'near_earth_objects' not in data:
            raise ValueError("Invalid API response: missing 'near_earth_objects' field")
        
        # Flatten the nested structure
        neo_list = []
        total_objects = 0
        
        for date, objects in data["near_earth_objects"].items():
            logger.info(f"üìÖ {date}: {len(objects)} objects")
            for obj in objects:
                obj["observation_date"] = date
                neo_list.append(obj)
                total_objects += 1
        
        logger.info(f"‚úÖ Successfully extracted {total_objects} NEO records")
        
        # Data quality check
        if total_objects == 0:
            logger.warning("‚ö†Ô∏è No NEO data found for the specified date range")
        
        return neo_list
        
    except requests.RequestException as e:
        logger.error(f"‚ùå API request failed: {e}")
        raise
    except Exception as e:
        logger.error(f"‚ùå Data extraction failed: {e}")
        raise

# Fetch the data
start_date = "2025-10-01"
end_date = "2025-10-07"
neo_data = fetch_nasa_neo_data(start_date, end_date)

logger.info(f"üìä Data extraction complete: {len(neo_data)} total records")

In [ ]:
# Step 4: Data Export and Spark DataFrame Creation üíæ
import pandas as pd

# Export to JSON for backup/debugging
backup_file = f"neo_data_backup_{datetime.now().strftime('%Y%m%d_%H%M%S')}.json"
with open(backup_file, 'w') as f:
    json.dump(neo_data, f, indent=2)

logger.info(f"üìÅ Backup saved to: {backup_file}")

# Create pandas DataFrame for initial inspection
pandas_df = pd.DataFrame(neo_data)
logger.info(f"üìã Pandas DataFrame shape: {pandas_df.shape}")
logger.info(f"üîç Columns: {list(pandas_df.columns)}")

# Create Spark DataFrame
df = spark.createDataFrame(pandas_df)
logger.info(f"‚ö° Spark DataFrame created successfully")

# Display basic info
print(f"\nüìä Dataset Overview:")
print(f"   ‚Ä¢ Total Records: {df.count()}")
print(f"   ‚Ä¢ Total Columns: {len(df.columns)}")
print(f"   ‚Ä¢ Date Range: {start_date} to {end_date}")

df.show(5, truncate=False)

In [ ]:
# Step 5: Schema Analysis and Data Exploration üîç
def analyze_dataframe_schema(df):
    """Analyze and display DataFrame schema information"""
    logger.info("üîç Analyzing DataFrame schema...")
    
    print("üìã DataFrame Schema:")
    df.printSchema()
    
    print(f"\nüìä Row Count: {df.count()}")
    
    # Check for nulls in key columns
    null_counts = {}
    key_columns = ['id', 'neo_reference_id', 'name', 'estimated_diameter', 'close_approach_data']
    
    for col_name in key_columns:
        if col_name in df.columns:
            null_count = df.filter(col(col_name).isNull()).count()
            null_counts[col_name] = null_count
            
    print(f"\nüîç Null Value Analysis:")
    for col_name, null_count in null_counts.items():
        print(f"   ‚Ä¢ {col_name}: {null_count} nulls")
    
    return df

# Analyze the DataFrame
df_analyzed = analyze_dataframe_schema(df)

# Sample data exploration
print(f"\nüéØ Sample Records:")
df.select("id", "name", "observation_date", "is_potentially_hazardous_asteroid").show(10)

+--------------------+--------+----------------+------------+--------------------+--------------------+--------------------+---------------------------------+--------------------+----------------+----------+--------------------+
|               links|      id|neo_reference_id|        name|        nasa_jpl_url|absolute_magnitude_h|  estimated_diameter|is_potentially_hazardous_asteroid| close_approach_data|is_sentry_object|      date|         sentry_data|
+--------------------+--------+----------------+------------+--------------------+--------------------+--------------------+---------------------------------+--------------------+----------------+----------+--------------------+
|{self -> http://a...| 3427459|         3427459|   (2008 SS)|https://ssd.jpl.n...|               22.18|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...| 3716631|         3716631|  (2015 HN9)|https://ssd.jpl.n...|                22.6|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...| 3720000|         3720000|(2015 KT120)|https://ssd.jpl.n...|                25.1|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...|54201807|        54201807|  (2021 SY3)|https://ssd.jpl.n...|                27.0|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...|54212590|        54212590|  (2021 UJ1)|https://ssd.jpl.n...|               26.33|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...|54265626|        54265626|  (2022 FL1)|https://ssd.jpl.n...|               29.24|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...|54300842|        54300842| (2022 QG41)|https://ssd.jpl.n...|               21.96|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...|54309253|        54309253| (2022 SK21)|https://ssd.jpl.n...|                25.6|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...|54324411|        54324411|   (2022 VV)|https://ssd.jpl.n...|               23.69|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...|54383301|        54383301| (2023 RV12)|https://ssd.jpl.n...|                26.2|{feet -> {estimat...|                            false|[{relative_veloci...|            true|2025-10-03|http://api.nasa.g...|
|{self -> http://a...|54385247|        54385247|  (2023 SV1)|https://ssd.jpl.n...|               24.13|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...|54417174|        54417174| (2023 XJ16)|https://ssd.jpl.n...|               19.92|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...|54486931|        54486931|   (2024 TW)|https://ssd.jpl.n...|               28.95|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...|54542743|        54542743| (2025 QK10)|https://ssd.jpl.n...|               24.12|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
|{self -> http://a...|54544998|        54544998|  (2025 RH2)|https://ssd.jpl.n...|                24.9|{feet -> {estimat...|                            false|[{relative_veloci...|           false|2025-10-03|                 NaN|
+--------------------+--------+----------------+------------+--------------------+--------------------+--------------------+---------------------------------+--------------------+----------------+----------+--------------------+
only showing top 15 rows

+--------------------+
| close_approach_data|
+--------------------+
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
|[{relative_veloci...|
+--------------------+
only showing top 15 rows

In [ ]:
# Step 6: Advanced Data Processing - Extract Nested Fields üõ†Ô∏è
def process_neo_dataframe(df):
    """
    Process NEO DataFrame to extract and flatten nested fields
    
    Args:
        df: Input Spark DataFrame
        
    Returns:
        Processed Spark DataFrame with flattened fields
    """
    try:
        logger.info("üõ†Ô∏è Processing NEO data - extracting nested fields...")
        
        # Extract diameter information from nested structure
        df_with_diameter = df.withColumn("estimated_diameter_km_max", 
                                       col("estimated_diameter").getItem("kilometers").getItem("estimated_diameter_max")) \
                            .withColumn("estimated_diameter_km_min", 
                                       col("estimated_diameter").getItem("kilometers").getItem("estimated_diameter_min")) \
                            .withColumn("estimated_diameter_m_max", 
                                       col("estimated_diameter").getItem("meters").getItem("estimated_diameter_max")) \
                            .withColumn("estimated_diameter_m_min", 
                                       col("estimated_diameter").getItem("meters").getItem("estimated_diameter_min"))
        
        # Select relevant columns for the base dataset
        df_processed = df_with_diameter.select(
            "id",
            "neo_reference_id", 
            "name",
            "absolute_magnitude_h", 
            "is_potentially_hazardous_asteroid", 
            "estimated_diameter_km_max", 
            "estimated_diameter_km_min",
            "estimated_diameter_m_max",
            "estimated_diameter_m_min",
            "close_approach_data", 
            "observation_date",
            "is_sentry_object",
            "sentry_data"
        )
        
        logger.info("‚úÖ Basic field extraction completed")
        
        return df_processed
        
    except Exception as e:
        logger.error(f"‚ùå Data processing failed: {e}")
        raise

# Process the DataFrame
df_processed = process_neo_dataframe(df)

print("üìä Processed DataFrame Preview:")
df_processed.show(10, truncate=False)

+--------+----------------+------------+--------------------+---------------------------------+-------------------------+-------------------------+--------------------+----------+----------------+--------------------+
|      id|neo_reference_id|        name|absolute_magnitude_h|is_potentially_hazardous_asteroid|estimated_diameter_km_max|estimated_diameter_km_min| close_approach_data|      date|is_sentry_object|         sentry_data|
+--------+----------------+------------+--------------------+---------------------------------+-------------------------+-------------------------+--------------------+----------+----------------+--------------------+
| 3427459|         3427459|   (2008 SS)|               22.18|                            false|              0.217791025|             0.0973991073|[{relative_veloci...|2025-10-03|           false|                 NaN|
| 3716631|         3716631|  (2015 HN9)|                22.6|                            false|             0.1794898848|             0.0802703167|[{relative_veloci...|2025-10-03|           false|                 NaN|
| 3720000|         3720000|(2015 KT120)|                25.1|                            false|             0.0567596853|             0.0253837029|[{relative_veloci...|2025-10-03|           false|                 NaN|
|54201807|        54201807|  (2021 SY3)|                27.0|                            false|              0.023661375|             0.0105816886|[{relative_veloci...|2025-10-03|           false|                 NaN|
|54212590|        54212590|  (2021 UJ1)|               26.33|                            false|             0.0322136532|             0.0144063837|[{relative_veloci...|2025-10-03|           false|                 NaN|
|54265626|        54265626|  (2022 FL1)|               29.24|                            false|             0.0084341239|             0.0037718549|[{relative_veloci...|2025-10-03|           false|                 NaN|
|54300842|        54300842| (2022 QG41)|               21.96|                            false|             0.2410127282|             0.1077841687|[{relative_veloci...|2025-10-03|           false|                 NaN|
|54309253|        54309253| (2022 SK21)|                25.6|                            false|             0.0450858206|             0.0201629919|[{relative_veloci...|2025-10-03|           false|                 NaN|
|54324411|        54324411|   (2022 VV)|               23.69|                            false|             0.1086525639|             0.0485909037|[{relative_veloci...|2025-10-03|           false|                 NaN|
|54383301|        54383301| (2023 RV12)|                26.2|                            false|             0.0342010925|             0.0152951935|[{relative_veloci...|2025-10-03|            true|http://api.nasa.g...|
|54385247|        54385247|  (2023 SV1)|               24.13|                            false|             0.0887237683|             0.0396784754|[{relative_veloci...|2025-10-03|           false|                 NaN|
|54417174|        54417174| (2023 XJ16)|               19.92|                            false|             0.6166517648|             0.2757750529|[{relative_veloci...|2025-10-03|           false|                 NaN|
|54486931|        54486931|   (2024 TW)|               28.95|                            false|             0.0096391775|             0.0043107712|[{relative_veloci...|2025-10-03|           false|                 NaN|
|54542743|        54542743| (2025 QK10)|               24.12|                            false|             0.0891332986|             0.0398616229|[{relative_veloci...|2025-10-03|           false|                 NaN|
|54544998|        54544998|  (2025 RH2)|                24.9|                            false|             0.0622357573|             0.0278326768|[{relative_veloci...|2025-10-03|           false|                 NaN|
+--------+----------------+------------+--------------------+---------------------------------+-------------------------+-------------------------+--------------------+----------+----------------+--------------------+
only showing top 15 rows

In [62]:
df.printSchema()

root
 |-- links: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- id: string (nullable = true)
 |-- neo_reference_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- nasa_jpl_url: string (nullable = true)
 |-- absolute_magnitude_h: double (nullable = true)
 |-- estimated_diameter: map (nullable = true)
 |    |-- key: string
 |    |-- value: map (valueContainsNull = true)
 |    |    |-- key: string
 |    |    |-- value: double (valueContainsNull = true)
 |-- is_potentially_hazardous_asteroid: boolean (nullable = true)
 |-- close_approach_data: array (nullable = true)
 |    |-- element: map (containsNull = true)
 |    |    |-- key: string
 |    |    |-- value: string (valueContainsNull = true)
 |-- is_sentry_object: boolean (nullable = true)
 |-- date: string (nullable = true)
 |-- sentry_data: string (nullable = true)

In [ ]:
# Step 7: Complex Nested Data Processing - Close Approach Data üéØ
def process_close_approach_data(df):
    """
    Process complex nested close approach data with error handling
    
    Args:
        df: Input DataFrame with close_approach_data column
        
    Returns:
        DataFrame with extracted close approach information
    """
    try:
        logger.info("üéØ Processing close approach data...")
        
        # Extract first close approach record (most relevant)
        df_with_approach = df.withColumn("close_approach_date_full", 
                                       col("close_approach_data").getItem(0).getItem("close_approach_date_full")) \
                           .withColumn("close_approach_date", 
                                      col("close_approach_data").getItem(0).getItem("close_approach_date")) \
                           .withColumn("velocity_data_str", 
                                      col("close_approach_data").getItem(0).getItem("relative_velocity")) \
                           .withColumn("miss_distance_str", 
                                      col("close_approach_data").getItem(0).getItem("miss_distance")) \
                           .withColumn("orbiting_body", 
                                      col("close_approach_data").getItem(0).getItem("orbiting_body"))
        
        logger.info("‚úÖ Close approach data extraction completed")
        
        # Show intermediate results for validation
        print("üîç Intermediate Results - Close Approach Data:")
        df_with_approach.select(
            "id", "name", "close_approach_date_full", 
            "velocity_data_str", "miss_distance_str", "orbiting_body"
        ).show(5, truncate=False)
        
        return df_with_approach
        
    except Exception as e:
        logger.error(f"‚ùå Close approach data processing failed: {e}")
        logger.info("‚ÑπÔ∏è This might be due to missing close approach data for some records")
        # Return original DataFrame if processing fails
        return df

# Process close approach data
df_with_approach = process_close_approach_data(df_processed)

+--------+----------------+------------+--------------------+---------------------------------+-------------------------+-------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+----------------+-----------+------------+------------------------+------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------+-------------+
|id      |neo_reference_id|name        |absolute_magnitude_h|is_potentially_hazardous_asteroid|estimated_diameter_km_max|estimated_diameter_km_min|close_approach_data                                                                                                                                                                                                                                                                                                                                                                                                     |date      |is_sentry_object|sentry_data|name        |close_approach_date_full|velocity_kps_str                                                                                            |miss_distance_str                                                                                          |orbiting_body|
+--------+----------------+------------+--------------------+---------------------------------+-------------------------+-------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+----------------+-----------+------------+------------------------+------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------+-------------+
|3427459 |3427459         |(2008 SS)   |22.18               |false                            |0.217791025              |0.0973991073             |[{relative_velocity -> {kilometers_per_hour=52300.2946120308, miles_per_hour=32497.3691715699, kilometers_per_second=14.5278596145}, orbiting_body -> Earth, epoch_date_close_approach -> 1759529040000, close_approach_date -> 2025-10-03, close_approach_date_full -> 2025-Oct-03 22:04, miss_distance -> {astronomical=0.1193906609, lunar=46.4429670901, kilometers=17860588.568532283, miles=11098055.1128321854}}]|2025-10-03|false           |NaN        |(2008 SS)   |2025-Oct-03 22:04       |{kilometers_per_hour=52300.2946120308, miles_per_hour=32497.3691715699, kilometers_per_second=14.5278596145}|{astronomical=0.1193906609, lunar=46.4429670901, kilometers=17860588.568532283, miles=11098055.1128321854} |Earth        |
|3716631 |3716631         |(2015 HN9)  |22.6                |false                            |0.1794898848             |0.0802703167             |[{relative_velocity -> {kilometers_per_hour=27750.3476679028, miles_per_hour=17242.9868606477, kilometers_per_second=7.7084299078}, orbiting_body -> Earth, epoch_date_close_approach -> 1759530240000, close_approach_date -> 2025-10-03, close_approach_date_full -> 2025-Oct-03 22:24, miss_distance -> {astronomical=0.0822716951, lunar=32.0036893939, kilometers=12307670.348249437, miles=7647631.7290067506}}]  |2025-10-03|false           |NaN        |(2015 HN9)  |2025-Oct-03 22:24       |{kilometers_per_hour=27750.3476679028, miles_per_hour=17242.9868606477, kilometers_per_second=7.7084299078} |{astronomical=0.0822716951, lunar=32.0036893939, kilometers=12307670.348249437, miles=7647631.7290067506}  |Earth        |
|3720000 |3720000         |(2015 KT120)|25.1                |false                            |0.0567596853             |0.0253837029             |[{relative_velocity -> {kilometers_per_hour=41649.1343134956, miles_per_hour=25879.1523738495, kilometers_per_second=11.569203976}, orbiting_body -> Earth, epoch_date_close_approach -> 1759464420000, close_approach_date -> 2025-10-03, close_approach_date_full -> 2025-Oct-03 04:07, miss_distance -> {astronomical=0.266230725, lunar=103.563752025, kilometers=39827549.38855575, miles=24747691.62433935}}]     |2025-10-03|false           |NaN        |(2015 KT120)|2025-Oct-03 04:07       |{kilometers_per_hour=41649.1343134956, miles_per_hour=25879.1523738495, kilometers_per_second=11.569203976} |{astronomical=0.266230725, lunar=103.563752025, kilometers=39827549.38855575, miles=24747691.62433935}     |Earth        |
|54201807|54201807        |(2021 SY3)  |27.0                |false                            |0.023661375              |0.0105816886             |[{relative_velocity -> {kilometers_per_hour=21345.843187419, miles_per_hour=13263.4768405382, kilometers_per_second=5.9294008854}, orbiting_body -> Earth, epoch_date_close_approach -> 1759532700000, close_approach_date -> 2025-10-03, close_approach_date_full -> 2025-Oct-03 23:05, miss_distance -> {astronomical=0.052024416, lunar=20.237497824, kilometers=7782741.82159392, miles=4835971.520959296}}]        |2025-10-03|false           |NaN        |(2021 SY3)  |2025-Oct-03 23:05       |{kilometers_per_hour=21345.843187419, miles_per_hour=13263.4768405382, kilometers_per_second=5.9294008854}  |{astronomical=0.052024416, lunar=20.237497824, kilometers=7782741.82159392, miles=4835971.520959296}       |Earth        |
|54212590|54212590        |(2021 UJ1)  |26.33               |false                            |0.0322136532             |0.0144063837             |[{relative_velocity -> {kilometers_per_hour=79654.1300445942, miles_per_hour=49493.978749098, kilometers_per_second=22.1261472346}, orbiting_body -> Earth, epoch_date_close_approach -> 1759515060000, close_approach_date -> 2025-10-03, close_approach_date_full -> 2025-Oct-03 18:11, miss_distance -> {astronomical=0.4461354144, lunar=173.5466762016, kilometers=66740907.725807328, miles=41470877.0306960064}}]|2025-10-03|false           |NaN        |(2021 UJ1)  |2025-Oct-03 18:11       |{kilometers_per_hour=79654.1300445942, miles_per_hour=49493.978749098, kilometers_per_second=22.1261472346} |{astronomical=0.4461354144, lunar=173.5466762016, kilometers=66740907.725807328, miles=41470877.0306960064}|Earth        |
+--------+----------------+------------+--------------------+---------------------------------+-------------------------+-------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+----------------+-----------+------------+------------------------+------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------+-------------+
only showing top 5 rows

In [ ]:
# Step 8: Final Data Processing - Numerical Extraction and Cleanup üßπ
from pyspark.sql.functions import regexp_extract, col, when, coalesce, lit
from pyspark.sql.types import DoubleType

def extract_numerical_values(df):
    """
    Extract numerical values from string-formatted nested data
    
    Args:
        df: DataFrame with string-formatted velocity and distance data
        
    Returns:
        Final cleaned DataFrame ready for database insertion
    """
    try:
        logger.info("üßπ Extracting numerical values from nested string data...")
        
        # Extract velocity (km/s) using regex
        df_with_velocity = df.withColumn("velocity_kps", 
                                       regexp_extract(col("velocity_data_str"), r"kilometers_per_second=([0-9.]+)", 1).cast(DoubleType()))
        
        # Extract miss distance (km) using regex  
        df_with_distance = df_with_velocity.withColumn("miss_distance_km", 
                                                     regexp_extract(col("miss_distance_str"), r"kilometers=([0-9.]+)", 1).cast(DoubleType()))
        
        # Add additional velocity measurements
        df_with_extra = df_with_distance.withColumn("velocity_kmh", 
                                                  regexp_extract(col("velocity_data_str"), r"kilometers_per_hour=([0-9.]+)", 1).cast(DoubleType())) \
                                       .withColumn("miss_distance_au", 
                                                  regexp_extract(col("miss_distance_str"), r"astronomical=([0-9.]+)", 1).cast(DoubleType()))
        
        # Create final cleaned dataset
        df_final = df_with_extra.select(
            "id",
            "neo_reference_id", 
            "name",
            col("absolute_magnitude_h").cast(DoubleType()).alias("absolute_magnitude_h"),
            "is_potentially_hazardous_asteroid", 
            col("estimated_diameter_km_max").cast(DoubleType()).alias("estimated_diameter_km_max"),
            col("estimated_diameter_km_min").cast(DoubleType()).alias("estimated_diameter_km_min"),
            "close_approach_date_full", 
            "close_approach_date",
            "velocity_kps", 
            "velocity_kmh",
            "miss_distance_km",
            "miss_distance_au", 
            "orbiting_body",
            col("observation_date").alias("observation_date"),
            "is_sentry_object"
        )
        
        # Data quality improvements
        df_clean = df_final.fillna({
            'velocity_kps': 0.0,
            'velocity_kmh': 0.0, 
            'miss_distance_km': 0.0,
            'miss_distance_au': 0.0,
            'estimated_diameter_km_max': 0.0,
            'estimated_diameter_km_min': 0.0,
            'absolute_magnitude_h': 0.0,
            'orbiting_body': 'Unknown'
        })
        
        logger.info("‚úÖ Numerical extraction and cleanup completed")
        
        return df_clean
        
    except Exception as e:
        logger.error(f"‚ùå Numerical extraction failed: {e}")
        raise

# Process final data
df_final_clean = extract_numerical_values(df_with_approach)

# Display final results
print("üéâ Final Processed Dataset:")
print(f"   ‚Ä¢ Total Records: {df_final_clean.count()}")
print(f"   ‚Ä¢ Total Columns: {len(df_final_clean.columns)}")

df_final_clean.show(15, truncate=False)

# Display summary statistics
print("\nüìä Summary Statistics:")
df_final_clean.describe().show()

+--------+----------------+------------+--------------------+---------------------------------+-------------------------+-------------------------+------------------------+-------------+--------------------+-------------+
|      id|neo_reference_id|        name|absolute_magnitude_h|is_potentially_hazardous_asteroid|estimated_diameter_km_max|estimated_diameter_km_min|close_approach_date_full| velocity_kps|    miss_distance_km|orbiting_body|
+--------+----------------+------------+--------------------+---------------------------------+-------------------------+-------------------------+------------------------+-------------+--------------------+-------------+
| 3427459|         3427459|   (2008 SS)|               22.18|                            false|              0.217791025|             0.0973991073|       2025-Oct-03 22:04|14.5278596145|1.7860588568532284E7|        Earth|
| 3716631|         3716631|  (2015 HN9)|                22.6|                            false|             0.1794898848|             0.0802703167|       2025-Oct-03 22:24| 7.7084299078|1.2307670348249437E7|        Earth|
| 3720000|         3720000|(2015 KT120)|                25.1|                            false|             0.0567596853|             0.0253837029|       2025-Oct-03 04:07| 11.569203976| 3.982754938855575E7|        Earth|
|54201807|        54201807|  (2021 SY3)|                27.0|                            false|              0.023661375|             0.0105816886|       2025-Oct-03 23:05| 5.9294008854|    7782741.82159392|        Earth|
|54212590|        54212590|  (2021 UJ1)|               26.33|                            false|             0.0322136532|             0.0144063837|       2025-Oct-03 18:11|22.1261472346| 6.674090772580733E7|        Earth|
|54265626|        54265626|  (2022 FL1)|               29.24|                            false|             0.0084341239|             0.0037718549|       2025-Oct-03 09:08| 7.6817966076| 7.167942762863825E7|        Earth|
|54300842|        54300842| (2022 QG41)|               21.96|                            false|             0.2410127282|             0.1077841687|       2025-Oct-03 16:41|11.9542124902|1.6201986272634791E7|        Earth|
|54309253|        54309253| (2022 SK21)|                25.6|                            false|             0.0450858206|             0.0201629919|       2025-Oct-03 03:16|  2.376499605|2.1283967780194912E7|        Earth|
|54324411|        54324411|   (2022 VV)|               23.69|                            false|             0.1086525639|             0.0485909037|       2025-Oct-03 13:30| 9.0730597852|3.0486923428302027E7|        Earth|
|54383301|        54383301| (2023 RV12)|                26.2|                            false|             0.0342010925|             0.0152951935|       2025-Oct-03 12:57| 13.598403206| 2.864335700947528E7|        Earth|
|54385247|        54385247|  (2023 SV1)|               24.13|                            false|             0.0887237683|             0.0396784754|       2025-Oct-03 06:51|31.8007142527| 5.995251685623488E7|        Earth|
|54417174|        54417174| (2023 XJ16)|               19.92|                            false|             0.6166517648|             0.2757750529|       2025-Oct-03 13:04|26.1780296583| 7.194443691931075E7|        Earth|
|54486931|        54486931|   (2024 TW)|               28.95|                            false|             0.0096391775|             0.0043107712|       2025-Oct-03 03:41|11.8351736661|   7983747.398922211|        Earth|
|54542743|        54542743| (2025 QK10)|               24.12|                            false|             0.0891332986|             0.0398616229|       2025-Oct-03 16:11|11.8906355112| 1.257228443126897E7|        Earth|
|54544998|        54544998|  (2025 RH2)|                24.9|                            false|             0.0622357573|             0.0278326768|       2025-Oct-03 20:07| 5.0764958157|    7514832.23213637|        Earth|
+--------+----------------+------------+--------------------+---------------------------------+-------------------------+-------------------------+------------------------+-------------+--------------------+-------------+
only showing top 15 rows

In [ ]:
# Step 9: MySQL Database Integration üóÑÔ∏è
import pandas as pd
from sqlalchemy import create_engine, text
import pymysql

def create_mysql_connection():
    """Create MySQL database connection"""
    try:
        connection_string = f"mysql+pymysql://{Config.MYSQL_USER}:{Config.MYSQL_PASSWORD}@{Config.MYSQL_HOST}:{Config.MYSQL_PORT}/{Config.MYSQL_DATABASE}"
        engine = create_engine(connection_string)
        logger.info("‚úÖ MySQL connection established")
        return engine
    except Exception as e:
        logger.error(f"‚ùå MySQL connection failed: {e}")
        raise

def create_neo_table(engine):
    """Create NEO data table if it doesn't exist"""
    try:
        create_table_sql = """
        CREATE TABLE IF NOT EXISTS nasa_neo_data (
            id VARCHAR(20) PRIMARY KEY,
            neo_reference_id VARCHAR(20) NOT NULL,
            name VARCHAR(255),
            absolute_magnitude_h DECIMAL(10,6),
            is_potentially_hazardous_asteroid BOOLEAN,
            estimated_diameter_km_max DECIMAL(15,6),
            estimated_diameter_km_min DECIMAL(15,6),
            close_approach_date_full VARCHAR(50),
            close_approach_date VARCHAR(20),
            velocity_kps DECIMAL(15,6),
            velocity_kmh DECIMAL(15,6),
            miss_distance_km DECIMAL(20,6),
            miss_distance_au DECIMAL(15,10),
            orbiting_body VARCHAR(50),
            observation_date DATE,
            is_sentry_object BOOLEAN,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
            INDEX idx_observation_date (observation_date),
            INDEX idx_hazardous (is_potentially_hazardous_asteroid),
            INDEX idx_orbiting_body (orbiting_body)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
        """
        
        with engine.connect() as conn:
            conn.execute(text(create_table_sql))
            conn.commit()
        
        logger.info("‚úÖ NEO data table created/verified")
        
    except Exception as e:
        logger.error(f"‚ùå Table creation failed: {e}")
        raise

def load_data_to_mysql(df_spark, engine):
    """Load processed data to MySQL database"""
    try:
        # Convert Spark DataFrame to Pandas for easier MySQL insertion
        df_pandas = df_spark.toPandas()
        
        logger.info(f"üîÑ Loading {len(df_pandas)} records to MySQL...")
        
        # Data type conversions for MySQL compatibility
        df_pandas['is_potentially_hazardous_asteroid'] = df_pandas['is_potentially_hazardous_asteroid'].astype(bool)
        df_pandas['is_sentry_object'] = df_pandas['is_sentry_object'].astype(bool)
        df_pandas['observation_date'] = pd.to_datetime(df_pandas['observation_date']).dt.date
        
        # Handle potential duplicates - replace existing records
        df_pandas.to_sql(
            name='nasa_neo_data',
            con=engine,
            if_exists='replace',  # Replace existing data for demo
            index=False,
            method='multi',
            chunksize=1000
        )
        
        logger.info("‚úÖ Data successfully loaded to MySQL database")
        
        # Verify the data
        with engine.connect() as conn:
            result = conn.execute(text("SELECT COUNT(*) as count FROM nasa_neo_data"))
            count = result.fetchone()[0]
            logger.info(f"üîç Verification: {count} records in database")
        
        return True
        
    except Exception as e:
        logger.error(f"‚ùå MySQL data loading failed: {e}")
        raise

# Execute MySQL integration
try:
    # Create database connection
    mysql_engine = create_mysql_connection()
    
    # Create table
    create_neo_table(mysql_engine)
    
    # Load data
    success = load_data_to_mysql(df_final_clean, mysql_engine)
    
    if success:
        print("üéâ MySQL Integration Complete!")
        print(f"   ‚Ä¢ Database: {Config.MYSQL_DATABASE}")
        print(f"   ‚Ä¢ Table: nasa_neo_data") 
        print(f"   ‚Ä¢ Records: {df_final_clean.count()}")
        
except Exception as e:
    logger.error(f"‚ùå MySQL integration failed: {e}")
    print("‚ö†Ô∏è MySQL integration failed. Check your database configuration.")

In [ ]:
# Step 10: Data Quality Checks and Pipeline Summary üìä
def run_data_quality_checks(engine):
    """Run comprehensive data quality checks"""
    try:
        logger.info("üîç Running data quality checks...")
        
        quality_queries = {
            "Total Records": "SELECT COUNT(*) FROM nasa_neo_data",
            "Unique Objects": "SELECT COUNT(DISTINCT id) FROM nasa_neo_data", 
            "Hazardous Objects": "SELECT COUNT(*) FROM nasa_neo_data WHERE is_potentially_hazardous_asteroid = 1",
            "Objects per Date": "SELECT observation_date, COUNT(*) as count FROM nasa_neo_data GROUP BY observation_date ORDER BY observation_date",
            "Average Diameter": "SELECT AVG(estimated_diameter_km_max) as avg_diameter FROM nasa_neo_data",
            "Speed Statistics": "SELECT MIN(velocity_kps) as min_speed, MAX(velocity_kps) as max_speed, AVG(velocity_kps) as avg_speed FROM nasa_neo_data",
            "Missing Values": "SELECT SUM(CASE WHEN velocity_kps = 0 THEN 1 ELSE 0 END) as missing_velocity, SUM(CASE WHEN miss_distance_km = 0 THEN 1 ELSE 0 END) as missing_distance FROM nasa_neo_data"
        }
        
        print("üìä DATA QUALITY REPORT")
        print("=" * 50)
        
        with engine.connect() as conn:
            for check_name, query in quality_queries.items():
                result = conn.execute(text(query))
                
                if check_name == "Objects per Date":
                    print(f"\n{check_name}:")
                    for row in result:
                        print(f"   {row[0]}: {row[1]} objects")
                else:
                    row = result.fetchone()
                    if len(row) == 1:
                        print(f"{check_name}: {row[0]}")
                    else:
                        print(f"{check_name}: {dict(zip(result.keys(), row))}")
        
        logger.info("‚úÖ Data quality checks completed")
        
    except Exception as e:
        logger.error(f"‚ùå Data quality checks failed: {e}")

def print_pipeline_summary():
    """Print comprehensive pipeline summary"""
    print("\n" + "=" * 60)
    print("üöÄ NASA NEO DATA PIPELINE SUMMARY")
    print("=" * 60)
    print(f"üìÖ Processing Date: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")
    print(f"üóìÔ∏è Data Range: {start_date} to {end_date}")
    print(f"üìä Total Records Processed: {df_final_clean.count()}")
    print(f"üîß Spark Version: {spark.version}")
    print(f"üóÑÔ∏è Database: MySQL ({Config.MYSQL_HOST}:{Config.MYSQL_PORT})")
    print(f"üìã Table: nasa_neo_data")
    
    print("\nüîÑ PIPELINE STAGES:")
    print("   1. ‚úÖ Environment Setup")
    print("   2. ‚úÖ Spark Session Creation")  
    print("   3. ‚úÖ NASA API Data Extraction")
    print("   4. ‚úÖ Data Processing & Transformation")
    print("   5. ‚úÖ Nested Field Extraction")
    print("   6. ‚úÖ Numerical Data Cleanup")
    print("   7. ‚úÖ MySQL Database Integration")
    print("   8. ‚úÖ Data Quality Validation")
    
    print("\nüéØ NEXT STEPS:")
    print("   ‚Ä¢ Run Airflow DAG: nasa_neo_pipeline")
    print("   ‚Ä¢ Schedule: Every 7 days")
    print("   ‚Ä¢ Monitor: Check Airflow UI for execution status")
    print("   ‚Ä¢ Query: Access data via MySQL nasa_neo_data table")
    
    print("\nüìù AIRFLOW COMMAND:")
    print("   docker-compose up -d")
    print("   # Access Airflow UI at http://localhost:8080")
    print("   # Username: airflow, Password: airflow")
    
    print("=" * 60)

# Run data quality checks
if 'mysql_engine' in locals():
    run_data_quality_checks(mysql_engine)

# Print pipeline summary
print_pipeline_summary()

# Cleanup Spark session
try:
    spark.stop()
    logger.info("üîÑ Spark session stopped cleanly")
except:
    pass

print("üéâ NASA NEO Data Pipeline execution completed successfully!")